!!!
%html
  %head
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type" )/
  %body
    %h1 SWOTBot invites you to follow your student.
    %p To sign up, simply click the link below and follow the sign up steps.
    %p= link_to t('invite'), @url
    %p Thank you!
