%div
  %table.table.table-striped.table-responsive
    %thead
      %tr
        %th= t('.first_name')
        %th= t('.last_name')
    %tbody
      - guardians.each do |guardian|
        %tr
          %td= guardian.first_name
          %td= guardian.last_name
