%h1 Submit a behavior
%div(ng-controller="CourseCtrl")
  %div(ng-controller="StudentActionCtrl")
    .seating-chart.col-sm-8.col-md-9
      %form.form
        .alert.alert-info(ng-if="alert") {{ alert }}
        %ul.classroom
          %li(ng-repeat="student in course.students" ng-click="studentAction.toggleStudent(student.id)")
            .student(ng-class="{ active: studentAction.hasStudent(student.id) }")
              .student-initials {{ student.initials }}

    .col-sm-2.col-md-3
      = render 'behavior_list', behaviors: StudentAction::POSITIVE_BEHAVIORS, class_name: 'btn-primary'
      = render 'behavior_list', behaviors: StudentAction::NEGATIVE_BEHAVIORS, class_name: 'btn-danger'
