.seating-chart.col-sm-8.col-md-9(ng-controller="CourseCtrl")
  %h1 Submit a behavior
  %form.form(ng-controller="StudentActionCtrl")
    .alert.alert-info(ng-if="alert") {{ alert }}
    .form-group
      %label(for="name")= t('.student_action')
      %input.form-control#student_action_name(ng-model="studentAction.name" required)
    %ul.classroom
      %li(ng-repeat="student in course.students" ng-click="studentAction.toggleStudent(student.id)")
        .student(ng-class="{ active: studentAction.hasStudent(student.id) }")
          .student-initials {{ student.initials }}
    .clearfix
    .form-group
      %button.btn.btn-primary( ng-disabled="!studentAction.isValid()"
      ng-click="saveStudentAction(studentAction)")
        = t('.record_action')
