.behavior-list {
  list-style: none;
  margin-top: 15px;
}

.behavior-list li {
  margin-top: 15px;
}

.attendance-btn {
  margin-left: 40px;
}

.attendance-btn a {
  color: white;
}

.classroom {
  list-style: none;
}

.classroom li {
  float: left;
}

.seating-chart {
  padding: 0px
}

.student {
  background-color: #ecf0f1;
  border-radius: 6px;
  cursor: pointer;
  float: left;
  height: 60px;
  margin-bottom: 20px;
  margin-left: 20px;
  padding: 10px;
  width: 60px;
}

.student.active {
  background-color:#2ecc71;
}

.student-initials {
  height: 60px;
  width: 60px;
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  margin-left: -10px;
  margin-top: -12px;
}

.student.present {
  background-color:#2ecc71;
}

.student.tardy {
  background-color:#f1c40f;
}

.student.absent {
  background-color:#e74c3c;
}

